#contener {
    text-align: center;
}



.button {
    margin: 75px 50px 75px 0px;
    background-color: pink;
    border: 5px solid rgb(255, 192, 103);
    border-radius: 20px;
    font-size: 40px;
    text-decoration: none;
}

.bloquer {
    background-color: #696969;
    border: 5px solid #5e5e5e;
    border-radius: 10px;
}

#connexion {
    float: right;
}


