#contener {
    text-align: center;
}

.button {
    margin: 20px 50px 300px 0px;
    background-color: #15ff00;
    border: 5px solid #0026fd;
    border-radius: 20px;
    font-size: 40px;
}

.bloquer {
    background-color: #696969;
    border: 5px solid #5e5e5e;
    border-radius: 10px;
}

#connexion {
    float: right;
}


